<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>search.jsp</welcome-file>
	</welcome-file-list>
	<servlet> 
		<servlet-name>SearchSemeval</servlet-name>
		<servlet-class>no.uio.ifi.wsi.gui.GenericSearchInterface</servlet-class>
		<init-param>
			<param-name>DATA_PATH</param-name>
			<param-value>/home/milen/wsi/test/</param-value>
		</init-param>
		<init-param>
			<param-name>LOG_PATH</param-name>
			<param-value>/home/milen/log/</param-value>
		</init-param>
		<init-param>
			<param-name>DEMO_NAME</param-name>
			<param-value>test</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
</web-app>
